.SelectorCount__Container {
    width: 60%;
    margin: 2rem auto;
    background-color: #cef279;
    padding: 1rem;
    border-radius: 0.5rem;

    h2 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: 700;
    }

    input {
        margin-right: 1rem;
    }
}
